<div id="job-view-container" class="container">
    <div class="row text-center">
        <a class="back-link main-color" href="/">Voltar</a>
    <div id="img-container" class="col-md-12">
        <img src="/company.svg" alt="company">
      </div>
    <div class="col-md-12">
    <h1 class="main-color">{{todoE.dataValues.title}}</h1>
    <p class="bold">Quem eles estão buscando: </p>
    <p> <span class="bold">O salario informado é de: </span>R${{todoE.dataValues.salario}}</p>
    <p> <span class="bold">Empresa: </span>{{todoE.dataValues.company}}</p>
    <p> <span class="bold">O horario informado é de: </span>{{todoE.dataValues.horario}}</p>
    <p> <span class="bold">O requisitos Para Vaga: </span>{{todoE.dataValues.requisitos}}</p>
    <p> <span class="bold">Local Do Estágio: </span>{{todoE.dataValues.localizacao}}</p>
    <p> <span class="bold">Beneficios: </span>{{todoE.dataValues.beneficio}}</p>
    <p>Para Trabalhar na empresa: <span class="bold main-color">{{todoE.dataValues.company}}</span> envie um Curriculum para <a class="main-color" href="email:to{{todoE.daraValues.email}}">{{todoE.dataValues.email}}</a>
    </p>


    </div>
    </div>
</div>